<!-- ... Your HTML Header ... -->

<div class="container">
    <h1>Examination</h1>
    <p>Total questions fetched: {{ tf_questions|length + mcq_questions|length + matching_questions|length + fill_in_the_blanks_questions|length }}</p>
    <form action="{{ url_for('main.submit_exam') }}" method="post">

        <h2>Section 1: True or False</h2>
        {% for question in tf_questions %}
            <p>{{ loop.index }}. {{ question.content }}</p>
            {% for option in display_question(question) %}
                <input type="radio" name="{{ question.id }}" value="{{ option }}"> {{ option }}<br>
            {% endfor %}
            <br>
        {% endfor %}

        <h2>Section 2: Multiple Choice Questions</h2>
        {% for question in mcq_questions %}
            <p>{{ loop.index }}. {{ question.content }}</p>
            {% for option in display_question(question) %}
                <input type="radio" name="{{ question.id }}" value="{{ option }}"> {{ option }}<br>
            {% endfor %}
            <br>
        {% endfor %}

        <h2>Section 3: Match the Columns</h2>
        {% for question in matching_questions %}
            <p>{{ loop.index }}. {{ question.content }}</p>
            <table border="1">
                <tr>
                    <th>Column X</th>
                    <th>Column Y</th>
                </tr>
                {% set columns = question.options.split(';') %}
                {% set column_x = columns[0].split(',') %}
                {% set column_y = columns[1].split(',') %}
                {% set max_length = [column_x|length, column_y|length]|max %}
                {% for i in range(max_length) %}
                    <tr>
                        <td>{{ column_x[i] if i < column_x|length else '' }}</td>
                        <td>{{ column_y[i] if i < column_y|length else '' }}</td>
                    </tr>
                {% endfor %}
            </table>
            <label>Answer:</label>
            <input type="text" name="answer_{{ question.id }}" placeholder="E.g., A:1,B:2,C:3">
            <br><br>
        {% endfor %}
            

        <h2>Section 4: Fill in the Blanks</h2>
        {% for question in fill_in_the_blanks_questions %}
            <p>{{ loop.index }}. {{ question.content }}</p>
            {% for option in display_question(question) %}
                <input type="radio" name="{{ question.id }}" value="{{ option }}"> {{ option }}<br>
            {% endfor %}
            <br>
        {% endfor %}        

        <input type="submit" value="Submit">
    </form>
</div>

<!-- ... Your HTML Footer ... -->
