<!DOCTYPE html>
<html>
<head>
    <title>Exam Dashboard</title>
</head>
<body>
    <h1>Welcome to the Examination Portal</h1>
    <p>Select an option:</p>
    <ul>
        <li><a href="{{ url_for('main.take_exam') }}">Take Exam</a></li>
        <!-- You can add more options as you develop further features -->
    </ul>
</body>
</html>
