<!DOCTYPE html>
<html>
<head>
    <title>Exam Results</title>
</head>
<body>
    <h1>Exam Results</h1>
    <p>You scored {{ score }} out of {{ total }}</p>

    <h2>Correct Answers</h2>
    <ul>
    {% for question in correct_answers %}
        <li>{{ question.content }} - Correct Answer: {{ question.answer }}</li>
    {% endfor %}
    </ul>

    <h2>Wrong Answers</h2>
    <ul>
    {% for item in wrong_answers %}
        <li>{{ item.question.content }} - Your Answer: {{ item.user_answer }} | Correct Answer: {{ item.question.answer }}</li>
    {% endfor %}
    </ul>

</body>
</html>
